<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Kube-frontend</a>
</nav>
<div class="container">
  <blockquote class="blockquote">
    <p class="mb-4">Hello welocome kube-frontend app, this is a sample app to learn some angular and bootstrap.</p>
  </blockquote>
  <p class="lead">So here i have implemented a sample REST Api which gets list of tv shows: <a (click)="getTvShowsList()" href="#">click here</a></p>
  <div class="names-list" *ngFor="let name of names" >
    <ul class="list-group">
      <li class="list-group-item names-li">{{name}}</li>
    </ul>
  </div>
  <button type="button" class="btn  btn-outline-danger clear-btn"
          *ngIf="isEnabled"
          (click)="clearNames()">
    clear
  </button>
</div>

